.S1 {
    background-color: lavenderblush;
}
button {
    padding: 7px;
    border-radius: 10px;
    width: 100px;
    margin: 30px 250px;
    
}
#div {
    width: 	500px;
    height: 500px;
    background-color: red;
}
p {
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: green;
}
.D1 { display: flex;
}
input {
    border-radius: 15px;
    border: 2px solid blue;
    font-size: 18px;
    line-height: 1.5;
    outline: none;
    font-weight: bold;
    color: black;
    padding: 5px 10px;
    background-color:rgba(128, 128, 128, 0.3);       
}
